{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}
  <header>
    <p class="display-6 fw-bold text-center title">Accounts Password Update Page</p>
  </header>

  <hr class="my-5">

  <section>
    <form action="{% url 'accounts:change_password' %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% comment %} {{ form.as_p }} {% endcomment %}
      <div class="d-flex justify-content-end mt-5">
        <a id="update-btn" class="btn btn-outline-success mx-2 fw-bold" href="{% url 'accounts:profile' user.pk %}" role="button">뒤로 가기</a>
        <button id="account-btn" class="btn btn-outline-primary fw-bold" type="submit">확인</button>
      </div>
    </form>
  </section>
{% endblock content %}