{% extends 'base.html' %}
{% load static %}

{% block content %}
  {# header #}
  <header>
    {# title #}
    <p class="display-5 text-center fw-bold title">속닥속닥</p>

    {# nav buttons #}
    <div class="d-flex justify-content-end">
      <a id="update-btn" href="{% url 'duties:index' %}" role="button" class="mx-2 btn btn-outline-dark fw-bold">
        <i class="me-1 bi bi-calendar-check"></i>
        <span>캘린더 보기</span>
      </a>
      <a id="account-btn" href="{% url 'articles:create' %}" role="button" class="btn btn-outline-primary fw-bold">
        <i class="me-1 bi bi-pen"></i>
        <span>한마디 하기</span>
      </a>
    </div>
  </header>

  <hr class="mb-5">

  {# body #}
  <section class="row mb-5">
    {# articles #}
    <section class="col-9 me-2">
      <ul class="list-group">
        {% for article in articles %}
          <li class="list-group-item">
            <div class="d-flex justify-content-between my-2">
              {# front #}
              <div class="d-flex align-items-center">
                {# category #}
                {% if article.category == 'wk' %}
                  <span class="badge bg-primary">근무 이야기</span>
                {% elif article.category == 'lf' %}
                  <span class="badge bg-success">일상 이야기</span>
                {% elif article.category == 'fn' %}
                  <span class="badge bg-danger">머니 이야기</span>
                {% elif article.category == 'qt' %}
                  <span class="badge bg-warning">질문 이야기</span>
                {% endif %}
                
                {# title #}
                <a href="{% url 'articles:detail' article.pk %}" class="text-decoration-none text-dark ms-3 fs-6">
                  {{ article.title }}
                </a>
              </div>

              {# end #}
              <div class="d-flex align-items-center">
                {# like img and count #}
                <span><i class="me-2 bi bi-heart text-danger"></i></span>
                <span>{{ article.like_users.all|length }}</span>

                {# comment img and count #}
                <span><i class="ms-3 me-2 bi bi-chat-left-dots"></i></span>
                <span>{{ article.comment_set.all|length }}</span>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>
    
    {# ads #}
    <section class="col">
      <p>여기는 광고를 올릴 곳입니다.</p>
      <img src="{% static 'images/ads.sample.ssafy_textbook.jpeg' %}" alt="ads sample" class="img-fluid">
    </section>
  </section>
{% endblock content %}
